/* Common Shared Style */
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0 auto;
}
.title{
    font-size: 2.3rem;
    font-weight: 700;
}
.primary_btn{
    color: #FFF;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 12px 26px;
    border-radius: 48px;
    border: 0;
    background-color: #FF42A5;
}

/* Navigation Section Style */
nav{
    display: flex;
    justify-content: space-between;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 0 10%;
}
.logo{
    width: 33%;
}
.logo_title{
    display: flex;
    align-items: center;
    gap: 5%;
}
nav ul{
    display: flex;
    align-items: center ;
    justify-content: space-evenly;
    list-style: none;
    width: 50%;
    margin: 0;
    gap: 15px;
}
nav a {
    text-decoration: none;
    color: #3C354F;
    font-size: 1.1rem;
    font-weight: 500;
}
nav button{
    width: 210px;
    height: 45px;
    display: flex;
    align-items: center;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 10px 15px;
    gap: 5%;
    cursor: pointer;
    border: 0;
}
.youtube, .tik-tok {
    margin-left: 5px;
}

/* Banner Section Style */
.banner{
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}
.banner_info{
    width: 37%;
    padding: 130px 0 0 135px;
    position: relative;
    /* border: 2px solid red; */
}
.banner_info img{
    width: 650px;
    height: 700px;
    background-repeat: no-repeat;
    position: absolute;
    top: -128px;
    left: 0;
}
.banner_info h1{
    font-size: 5.5rem;
    font-weight: 800;
    margin: 0;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner_info h2{
    margin: 0;
}
.banner_img img{
    width: 550px;
    height: 600px;
    margin-top: 100px;
}
.fa-regular, .fa-solid{
    color: #ff42a5;
}
.banner_btn_1{
    margin-right: 15px;
}
.banner_btn_2{
    background-color: #4EC5F7;
}

/* Large Mobile Responsive */

@media screen and (max-width: 576px) {
    
    /* Navigation Section Responsive */
    nav{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
        margin-right: 28px;
        width: 85%;
    }
    nav li {
        margin-top: 20px;
    }
    nav button{
        width: 210px;
        height: 45px;
        margin: 10% auto;
    }

    /* Banner Section Responsive */
    .banner{
        flex-direction: column;
        width: 100%;
        margin-left: 40px;
    }
    .banner_info{
        width: 330px;
        margin: 0 auto;
        padding: 50px;
        order: 1;
    }
    .banner_info img{
        width: 450px;
        height: 420px;
        position: absolute;
        top: 1px;
    }
    .banner_img img{
        width: 400px;
        height: 450px;
        margin: 50px 0 0 5px;
    }
}

/* Tablet Responsive */
@media screen and (min-width: 577px) and (max-width: 992px) {
    
    /* Navigation Section Responsive */
    nav {
        justify-content: space-between;
        padding: 0 40px;
    }
    .title {
        font-size: 2rem;
    }
    nav ul {
        justify-content: flex-end;
        width: 400px;
        gap: 8px;
    }
    nav a {
        font-size: 1rem;
        margin-right: 10px;
    }
    nav button{
        font-size: 1rem;
        width: 209px;
        height: 45px;
    }

    /* Banner Section Responsive */
    .banner{
        align-items: center;
        width: 100%;
        margin: 0 auto;
    }
    .banner_info{
        width: 50%;
        padding: 0 50px;
    }
    .banner_info h1{
        font-size: 4rem;
    }
    .banner_info h2{
        font-size: 1.8rem;
    }
    .primary_btn{
        font-size: 1rem;
        font-weight: 600;
        padding: 8px 14px;
    }
    .banner_info img{
        width: 50%;
        position: absolute;
        top: 1px;
    }
    .banner_img img{
        width: 400px;
        height: 500px;
        margin: 40px 35px 20px 0;
    }
}
